@font-face {
    font-family: 'Small Pixel7';
    src: url('SmallPixel-7.eot');
    src: url('SmallPixel-7.eot?#iefix') format('embedded-opentype'),
        url('SmallPixel-7.woff2') format('woff2'),
        url('SmallPixel-7.woff') format('woff'),
        url('SmallPixel-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

