@import url(/game/fonts/8bit_wonder/web/stylesheet.css);
@import url(/game/fonts/mini_pixel_7/web/stylesheet.css);
@import url(/game/fonts/pixelated/web/stylesheet.css);
@import url(/game/fonts/Pixellari/web/stylesheet.css);
@import url(/game/fonts/pixeltype/web/stylesheet.css);
@import url(/game/fonts/small_pixel7/web/stylesheet.css);
@import url(/game/fonts/visitor/web/stylesheet.css);

html,
body {
  --timing-function-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transparent-background: url('data:sprite/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKUlEQVQoU2NkYGAwZkAD////RxdiYBwKCv///4/hGUZGkNNRAeMQUAgAtxof+nLDzyUAAAAASUVORK5CYII=');

  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  font-family: Pixellari,
    /*nice*/ /*Pixeltype, !*thin but OK*!*/
      /*"Visitor TT1 BRK", !*10px wide but clear*!*/
      /*"Visitor TT2 BRK",  !*wide and small*!*/
      /*"8BIT WONDER", !*big and wide*!*/ /*"Small Pixel7", !* REALLY small*!*/
      /*"Mini Pixel-7", !* REALLY mini*!*/
      /*Pixelated, !*small and hard to read*!*/ Wingdings;
}

* {
  box-sizing: inherit;
}

img,
canvas {
  image-rendering: pixelated;

  /* animate sizes smoothly */
  transition: width 0.15s, height 0.15s;
  transition-timing-function: var(--timing-function-bounce);
  transform: translateZ(0);
  backface-visibility: hidden;
}

button {
  color: #fff;
  background: #555;
  border: none;
}

.disabled,
[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
