@import url(/game/fonts/Pixellari/web/stylesheet.css);
@import url(/slider.css);

html,
body {
  --timing-function-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transparent-background: url('data:sprite/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKUlEQVQoU2NkYGAwZkAD////RxdiYBwKCv///4/hGUZGkNNRAeMQUAgAtxof+nLDzyUAAAAASUVORK5CYII=');

  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  font-family: Pixellari;
}

* {
  box-sizing: inherit;
}

img,
canvas {
  image-rendering: pixelated;

  /* animate sizes smoothly */
  transition: width 5s, height 5s;
  transition-timing-function: var(--timing-function-bounce);
  transform: translateZ(0);
  backface-visibility: hidden;
}

button {
  color: #fff;
  background: #555;
  border: none;
}

.disabled,
[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
