@import 'global.css';

/* Button style */
.button {
  /*padding: var(--button-inner-gap);*/
  margin: 0;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}
.button:hover,
.button:active,
.button.active,
.button:focus {
  background: var(--ui-active-bg);
  outline: none;
}
.button.active,
.button.active .label {
  color: var(--ui-active-color);
}
.tool i {
  font-size: var(--button-icon-size);
  margin: var(--button-inner-gap);
}

/****************************
        Sprite Editor
****************************/
.sprite-editor {
  --editor-gap: 8px;

  --ui-active-color: burlywood;
  --ui-active-bg: #0003;
  --ui-darkest: #282828;
  --ui-darker: #383838;
  --ui-dark: #484848;

  --ui-bg: var(--ui-darker);
  --ui-stage-bg: var(--ui-darkest);
  --ui-panel-bg: var(--ui-dark);

  --button-inner-gap: 8px;
  --button-icon-size: 18px;

  --toolbar-space: 4px;
  --tool-divider-border: 1px solid var(--ui-darker);
  --drawing-tool-size: 60px;

  display: grid;
  grid-gap: var(--editor-gap);
  justify-content: center;
  grid-template:
    'header        header       header        ' auto
    'drawing-tools action-tools action-tools  ' auto
    'drawing-tools stage        color-swatches' 1fr
    'drawing-tools frames       color-swatches' auto
    'files         files        files         ' auto /
    auto 1fr auto;
  padding: var(--editor-gap);
  color: #fff;
  text-shadow: -1px -1px 0 #0003, 1px -1px 0 #0003, -1px 1px 0 #0003,
    1px 1px 0 #0003;
  background: var(--ui-bg);
  user-select: none;
}

/****************************
           Header
****************************/
.sprite-editor-header {
  grid-area: header;
  font-size: 28px;
  text-decoration: underline;
}
.sprite-editor-header i {
  text-decoration: inherit;
}
.sprite-editor-header i {
  text-decoration: inherit;
}

/****************************
       Sprite Name Input
****************************/
.sprite-name {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.sprite-name i {
  position: absolute;
  padding: 0.125em 0.375em;
  opacity: 0.5;
}

.sprite-name input {
  display: block;
  height: 1em;
  padding: 0.625em 0 0.625em 1.75em;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}

/****************************
      All Tool Buttons
****************************/

.tool .label {
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
}

/* Tool Groups */
.tool-group {
  padding: var(--toolbar-space);
}

/****************************
       Drawing Tools
****************************/

.drawing-tools {
  grid-area: drawing-tools;
  height: fit-content;
  background: var(--ui-panel-bg);
}

.drawing-tools .tool-group {
  display: grid;
  grid-template-columns: var(--drawing-tool-size) var(--drawing-tool-size);
  grid-auto-rows: var(--drawing-tool-size);
  gap: var(--toolbar-space);
}
.drawing-tools .tool-group + .tool-group {
  border-top: var(--tool-divider-border);
}

.drawing-tools .tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************************
        Action Tools
****************************/

.action-tools {
  grid-area: action-tools;
  background: var(--ui-panel-bg);
}
.action-tools .tool {
  display: inline-flex;
  align-items: center;
}
.action-tools .tool .label {
  margin-right: var(--button-inner-gap);
  margin-top: 0.25em;
}

.action-tools .tool-group {
  display: inline-block;
}

.action-tools .tool-group + .tool-group {
  border-left: var(--tool-divider-border);
}

/****************************
            Stage
****************************/
.stage {
  position: relative;
  grid-area: stage;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--ui-darkest);
}

.stage .drawing-canvas {
  background-image: var(--transparent-background);
  cursor: crosshair;
  background-color: #fff;
}

.stage .grid-canvas {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

/****************************
       Color Swatches
****************************/

.color-swatches {
  --swatch-size: 16px;
  --swatches-per-row: 9;

  grid-area: color-swatches;
  padding: var(--toolbar-space);
  height: fit-content;
  background: var(--ui-panel-bg);
}
.color-swatches .header {
  margin: 8px 0 2px;
}

.all-colors,
.used-colors {
  display: grid;
  grid-template-columns: repeat(var(--swatches-per-row), var(--swatch-size));
  grid-auto-rows: var(--swatch-size);
  padding: var(--toolbar-space);
  gap: 1px;
  border: 1px solid #fff2;
  border-radius: 4px;
}

.color-swatch {
  transition: transform 0.2s;
  transition-timing-function: var(--timing-function-bounce);
  width: var(--swatch-size);
  height: var(--swatch-size);
}
.color-swatch:hover,
.color-swatch:active,
.color-swatch.active,
.color-swatch:focus {
  transform: scale(1.125);
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
  z-index: 1;
}
.color-swatch:active,
.color-swatch.active {
  transform: scale(1.25);
}
.color-swatch:hover {
  z-index: 2;
}

/****************************
           Frames
****************************/
.frames {
  --frame-color: #888;

  grid-area: frames;
  display: flex;
}

.frames .frame {
  min-width: 32px;
  height: 32px;
  background: var(--ui-panel-bg);
}
.frames .frame:not(.add-frame) {
  padding: 0;
}
.frames .frame + .frame {
  margin-left: 4px;
}

.frames .frame canvas {
  padding-bottom: 2px;
  width: 32px;
  height: 32px;
  background-image: var(--transparent-background);
  background-size: 5px;
  border-bottom: 2px solid transparent;
}
.frames .frame.active canvas {
  border-color: var(--ui-active-color);
}

/****************************
           Files
****************************/
.files {
  grid-area: files;
  margin-top: 24px;
  color: #fff;
  border-top: 2px solid var(--ui-darkest);
}

.files .file {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 56px;
  height: 56px;
  background: var(--ui-dark);
}
.files .file.active {
  color: var(--ui-active-color);
  background: var(--ui-active-bg);
}
.files .file canvas,
.files .file i {
  margin: var(--button-inner-gap);
}
.files .file canvas {
  width: 24px;
  height: 24px;
}
