@import 'global.css';

/* Button style */
button {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}

/****************************
        Sprite Editor
****************************/
.sprite-editor {
  --editor-gap: 8px;

  --ui-active: burlywood;
  --ui-darkest: #282828;
  --ui-darker: #383838;
  --ui-dark: #484848;

  --ui-bg: var(--ui-darker);
  --ui-stage-bg: var(--ui-darkest);
  --ui-panel-bg: var(--ui-dark);

  --toolbar-padding: 2px;
  --tool-margin: 2px;
  --tool-icon-space: 8px;
  --tool-divider-border: 1px dotted
    var(--ui-darker);
  --drawing-tool-size: 56px;

  display: grid;
  grid-gap: var(--editor-gap);
  justify-content: center;
  grid-template:
    'header        header       header        ' auto
    'drawing-tools action-tools action-tools    ' auto
    'drawing-tools stage        color-swatches' 1fr
    'drawing-tools frames       color-swatches' auto
    'files         files        files         ' auto /
    auto 1fr auto;
  padding: var(--editor-gap);
  background: var(--ui-bg);
  user-select: none;
}

/****************************
            Header
****************************/
.header {
  grid-area: header;
  font-size: 28px;
  color: #fff;
  text-decoration: underline;
}
.header i {
  text-decoration: inherit;
}

/****************************
      All Tool Buttons
****************************/
.tool {
  padding: 0;
  margin: var(--tool-margin);
  color: #eee;
  text-shadow: -1px -1px 0 #0003, 1px -1px 0 #0003,
    -1px 1px 0 #0003, 1px 1px 0 #0003;
}
.tool:hover,
.tool:active,
.tool.active,
.tool:focus {
  background: var(--ui-darker);
  outline: none;
}
.tool.active,
.tool.active .label {
  color: var(--ui-active);
}

.tool i {
  font-size: calc(
    var(--drawing-tool-size) * 0.333
  );
}

.tool .label {
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
}

/****************************
           Divider
****************************/

.divider {
  background: var(--ui-bg);
}

/****************************
       Drawing Tools
****************************/

.drawing-tools {
  grid-area: drawing-tools;
  display: flex;
  padding: var(--toolbar-padding);
  flex-wrap: wrap;
  width: calc(
    var(--drawing-tool-size) * 2 +
      var(--toolbar-padding) * 2 +
      var(--tool-margin) * 4
  );
  height: fit-content;
  background: var(--ui-panel-bg);
}

.drawing-tools .divider {
  flex: 0 0 auto;
  width: 100%;
  border-top: var(--tool-divider-border);
}

.drawing-tools .tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--drawing-tool-size);
  height: var(--drawing-tool-size);
}

.tool i {
  margin: var(--tool-icon-space);
}

.drawing-tools .tool .label {
  display: block;
}

/****************************
        Action Tools
****************************/

.action-tools {
  grid-area: action-tools;
  display: flex;
  padding: var(--toolbar-padding);
  width: 100%;
  background: var(--ui-panel-bg);
}
.action-tools .tool {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}
.action-tools .tool .label {
  margin-right: var(--tool-icon-space);
}

.action-tools .divider {
  flex: 0 0 auto;
  border-left: var(--tool-divider-border);
}

/****************************
            Stage
****************************/
.stage {
  position: relative;
  grid-area: stage;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--ui-darkest);
}

.stage .drawing-canvas {
  background-image: url('data:sprite/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKUlEQVQoU2NkYGAwZkAD////RxdiYBwKCv///4/hGUZGkNNRAeMQUAgAtxof+nLDzyUAAAAASUVORK5CYII=');
  cursor: crosshair;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.stage .grid-canvas {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

/****************************
       Color Swatches
****************************/

.color-swatches {
  --swatch-size: 18px;
  --swatches-per-row: 9;

  grid-area: color-swatches;
  display: grid;
  grid-template-columns: repeat(
    var(--swatches-per-row),
    var(--swatch-size)
  );
  grid-auto-rows: var(--swatch-size);
  width: calc(
    var(--swatch-size) * var(--swatches-per-row)
  );
}

.color-swatches .color-swatch {
  width: var(--swatch-size);
  height: var(--swatch-size);
}
.color-swatches .color-swatch:hover,
.color-swatches .color-swatch:active,
.color-swatches .color-swatch.active,
.color-swatches .color-swatch:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
  z-index: 1;
}
.color-swatches .color-swatch:hover {
  z-index: 2;
}

/****************************
           Frames
****************************/
.frames {
  grid-area: frames;
}

/****************************
           Files
****************************/
.files {
  grid-area: files;
  color: #fff;
}
