@font-face {
    font-family: '8BIT WONDER';
    src: url('8BITWONDERNominal.eot');
    src: url('8BITWONDERNominal.eot?#iefix') format('embedded-opentype'),
        url('8BITWONDERNominal.woff2') format('woff2'),
        url('8BITWONDERNominal.woff') format('woff'),
        url('8BITWONDERNominal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

