@font-face {
    font-family: 'Mini Pixel-7';
    src: url('MiniPixel-7.eot');
    src: url('MiniPixel-7.eot?#iefix') format('embedded-opentype'),
        url('MiniPixel-7.woff2') format('woff2'),
        url('MiniPixel-7.woff') format('woff'),
        url('MiniPixel-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

