@import '../../public/css/global.css';

/****************************
        Sprite Editor
****************************/
.sprite-editor {
  display: grid;
  grid-gap: var(--macro-space-outside);
  justify-content: center;
  grid-template:
    'header        header       header        ' auto
    'drawing-tools action-tools action-tools  ' auto
    'drawing-tools stage        color-swatches' 1fr
    'drawing-tools frames       color-swatches' auto
    'files         files        files         ' auto /
    auto 1fr auto;
  padding: var(--macro-space-inside);
  color: #fff;
  text-shadow: -1px -1px 0 #0003, 1px -1px 0 #0003, -1px 1px 0 #0003,
    1px 1px 0 #0003;
  background: var(--ui-bg);
  user-select: none;
}

/****************************
           Header
****************************/
.sprite-editor-header {
  grid-area: header;
  font-size: 28px;
  text-decoration: underline;
}
.sprite-editor-header i {
  text-decoration: inherit;
}
.sprite-editor-header i {
  text-decoration: inherit;
}

/****************************
       Sprite Name Input
****************************/
.sprite-name {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.sprite-name i {
  position: absolute;
  padding: 0.125em 0.375em;
  opacity: 0.5;
}

.sprite-name input {
  display: block;
  height: 1em;
  padding: 0.625em 0 0.625em 1.75em;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}

/****************************
      All Tool Buttons
****************************/

.tool .badge {
  position: absolute;
  width: 2ch;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

/* Tool Groups */
.tool-group {
  padding: var(--toolbar-space);
}

/****************************
       Drawing Tools
****************************/

.drawing-tools {
  grid-area: drawing-tools;
  height: fit-content;
  background: var(--ui-panel-bg);
}

.drawing-tools .tool-group {
  display: grid;
  grid-template-columns: var(--drawing-tool-size) var(--drawing-tool-size);
  grid-auto-rows: var(--drawing-tool-size);
  gap: var(--toolbar-space);
}
.drawing-tools .tool-group + .tool-group {
  border-top: var(--tool-divider-border);
}

.drawing-tools .tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************************
        Action Tools
****************************/

.action-tools {
  grid-area: action-tools;
  background: var(--ui-panel-bg);
}
.action-tools .tool {
  display: inline-flex;
  align-items: center;
}

.action-tools .tool-group {
  display: inline-block;
}

.action-tools .tool-group + .tool-group {
  border-left: var(--tool-divider-border);
}

/****************************
            Stage
****************************/
.stage {
  position: relative;
  grid-area: stage;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--ui-darkest);
}

.stage .drawing-canvas {
  background-image: var(--transparent-background);
  cursor: crosshair;
  background-color: #fff;
}

.stage .grid-canvas {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

/****************************
       Sprite Preview
****************************/
.sprite-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
}

.sprite-preview .preview-canvas {
  display: block;
}
.sprite-preview .speed-control {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

/****************************
       Color Swatches
****************************/

.color-swatches {
  --swatch-size: 14px;

  grid-area: color-swatches;
  padding: var(--toolbar-space);
  height: fit-content;
  background: var(--ui-panel-bg);
}
.color-swatches .header {
  margin: 8px 0 2px;
}

.all-colors,
.used-colors {
  display: grid;
  grid-template-columns: repeat(var(--swatches-per-row), var(--swatch-size));
  grid-auto-rows: var(--swatch-size);
  padding: var(--toolbar-space);
  gap: 1px;
  border: 1px solid #fff2;
  border-radius: 4px;
}

.color-swatch {
  transition: transform 0.2s;
  transition-timing-function: var(--timing-function-bounce);
  width: var(--swatch-size);
  height: var(--swatch-size);
}
.color-swatch:hover,
.color-swatch:active,
.color-swatch.active,
.color-swatch:focus {
  transform: scale(1.125);
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
  z-index: 1;
}
.color-swatch:active,
.color-swatch.active {
  transform: scale(1.25);
}
.color-swatch:hover {
  z-index: 2;
}

/****************************
           Frames
****************************/
.frames {
  --frame-color: #888;
  --frame-size: 32px;

  grid-area: frames;
  display: flex;
  flex-wrap: wrap;
}

.frames .frame {
  position: relative;
  padding: 0;
  margin: 2px;
  width: var(--frame-size);
  height: var(--frame-size);
  background: var(--ui-panel-bg);
}
.frames .frame.active {
  box-shadow: 0 0 0 1px #000, 0 0 0 2px var(--ui-active-color);
}

.frames .frame canvas {
  margin: 0;
  width: var(--frame-size);
  height: var(--frame-size);
  background-image: var(--transparent-background);
  background-size: 5px;
}
.frames .frame.dragging {
  opacity: 0.5;
}
.frames .frame .index {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 4px 0 0;
  font-size: 0.875em;
  pointer-events: none;
}

/* menu */
.frames .frame .menu {
  transition: opacity 0.1s ease-out;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0 auto;
  top: calc(100% + 10px);
  left: -999%;
  right: -999%;
  width: 100px;
  text-align: left;
  background: var(--ui-panel-bg);
  box-shadow: 0 2px 8px #0002;
  opacity: 1;
  cursor: default;
  z-index: 2;
}
.frames .frame .menu::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: auto;
  border: 16px solid transparent;
  border-top-width: 0;
  border-bottom-width: 8px;
  border-bottom-color: var(--ui-panel-bg);
}
.frames .frame.dragging .menu,
.frames .frame:not(:hover) .menu {
  opacity: 0;
  pointer-events: none;
}
.frames .frame .menu li {
  display: inline;
  white-space: nowrap;
}
.frames .frame .menu li > * {
  display: block;
  padding: var(--micro-space-inside);
  margin: var(--toolbar-space);
  color: #fff;
}
.frames .frame .menu li > a {
  cursor: pointer;
}
.frames .frame .menu li a:hover,
.frames .frame .menu li a:active,
.frames .frame .menu li a.active,
.frames .frame .menu li a:focus {
  background: var(--ui-active-bg);
}
.frames .frame .menu li a:active,
.frames .frame .menu li a.active {
  color: var(--ui-active-color);
}
/****************************
           Files
****************************/
.files {
  grid-area: files;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  border-top: 2px solid var(--ui-darkest);
}
.files .header {
  width: 100%;
}

.files .file {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 96px;
  height: 96px;
}
.files .file.active {
  border-bottom: 2px solid var(--ui-active-color);
}
.files .file:not(.new-sprite) {
  background: var(--transparent-background);
}
.files .file + .file {
  margin-left: 2px;
}

.files .file canvas,
.files .file i,
.files .file .label {
  margin: 8px;
}
.files .file canvas {
  width: 48px;
  height: 48px;
}
.files .file i {
  padding: 8px;
  font-size: 32px;
}
.files .file .label {
  display: block;
  font-size: 14px;
}
