@font-face {
    font-family: 'Pixelated';
    src: url('Pixelated.eot');
    src: url('Pixelated.eot?#iefix') format('embedded-opentype'),
        url('Pixelated.woff2') format('woff2'),
        url('Pixelated.woff') format('woff'),
        url('Pixelated.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

